# Postgres DB
PG_DB_HOST=127.0.0.1
PG_DB_PORT=5432
PG_DB_USER=postgres
PG_DB_PASSWORD=postgres
PG_DB_NAME=proteins

# MySQL/MariaDB
MY_DB_HOST=127.0.0.1
MY_DB_PORT=5432
MY_DB_USER=root
MY_DB_PASSWORD=root
MY_DB_NAME=proteins


SHELVE_PATH=data/complexmine_db/shelf/

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_CACHE_DB=5

QUERY_QUEUE_PROVIDER=redis
QUERY_QUEUE_REDIS_DB=1
QUERY_QUEUE_REDIS_QUEUE_KEY=complexmine_queue