<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.min.css">
    <style>
        .container { max-width: 800px; margin: 0 auto; padding: 20px; text-align: center; }
    </style>
</head>
<body>
    <div class="container">
        <h1>Error</h1>
        <p>{{ message }}</p>
        <a href="javascript:window.close();" class="button">Close this window</a>
    </div>
</body>
</html>
